# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
*.env
.kidney/   # if you want to ignore your conda env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# Artifacts / output files
# Ignore artifacts and outputs
# Ignore data ingestion artifacts
artifacts/data_ingestion/
artifacts/


# OS files
.DS_Store
Thumbs.db

# Config / secrets (if you have API keys etc.)

*.json
